.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav" "main";
  grid-gap: 1px;
  background-color: #282c34;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.App-main Nav {
  grid-area: main;
  width: 100%;
  height: 100vh;
}

.Nav-main {
  grid-area: nav;
  height: 100vh;
  width: 100%;
}
