* {
  margin: 0;
}

.Nav-main {
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

img {
  margin: 32px;
}

.Nav-header {
  font-size: 30px;
  font-weight: bolder;
}

.Nav-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  justify-items: auto;
  list-style: unset;
  padding: 0;
}

.Nav-link {
  text-decoration: none;
  margin: 0;
  display: block;
  width: 100%;
}

.Nav-link:hover {
  padding: 5px;
  background-color: whitesmoke;
  font-weight: bold;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #282c34;}